$font-white: #FFF;
$color_flash-notice: #38aef0;
$color_flash-alert: #F35500;
$color_side-body: #2f3e51;
$color_side-top: #253141;
$color_main-body: #fafafa;
$color_main-border: #eeeeee;
$color_main-group-edit: #38aef0;
$color_main-group-name: #333333;
$color_main-group-members: #999999;
$color_main-user-text: #434A54;