.header
  .header-menu
    .header-menu__left
      .header-menu__left--title
        Think
      %ul.header-menu__left__icons
        %li.header-menu__left__icons--icon.header-menu__left__icons--idea
          =link_to do
            =fa_icon "lightbulb-o lg"
        %li.header-menu__left__icons--icon.header-menu__left__icons--todo
          =link_to do
            =fa_icon "tags lg"
        %li.header-menu__left__icons--icon.header-menu__left__icons--chat
          =link_to do
            =fa_icon "comments lg"
    .header-menu__right
      %ul.header-menu__right__user-session
        %li.header-menu__right__user-session--btn.header-menu__right__user-session--log-in
          -if user_signed_in?
            =link_to destroy_user_session_path, method: :delete do
              Log-out
          -else
            =link_to new_user_session_path do
              Log-in
        %li.header-menu__right__user-session--btn.header-menu__right__user-session--sign-up
          =link_to do
            Sign-up

.main
  .user-content
    %p.user-content--user-name
      user-name  さん
  .info-content
    .info-content__infomations
      .info-content__infomations__item
        =link_to do
          %p.info-content__infomations__item--name
            松村上久郎 -bande dessinée-
          %p.info-content__infomations__item--body
            画像が送信されています。
      -# -for num in 1..5 do
      -#   .info-content__infomations__item
      -#     =link_to do
      -#       %p.info-content__infomations__item--name
      -#         松村上久郎 -bande dessinée-
      -#       %p.info-content__infomations__item--body
      -#         画像が送信されています。
  .main-content
    .main-body
      .mesages
        .message
          .message__post-info
            %p.message__post-info--post-user
              user-another
            %p.message__post-info--post-date
              2019/03/24(Sun) 11:11:11
          %p.message__post-message
            Hello!
        .message.message-me
          .message__post-info.message-me__post-info
            %p.message__post-info--post-user.message-me__post-info--post-user
              user-me
            %p.message__post-info--post-date.message-me__post-info--post-date
              2019/03/24(Sun) 11:11:11
          %p.message__post-message.message-me__post-message
            Hi!
        .message
          .message__post-info
            %p.message__post-info--post-user
              user-another
            %p.message__post-info--post-date
              2019/03/24(Sun) 11:11:11
          %p.message__post-message
            How are you?
        .message.message-me
          .message__post-info.message-me__post-info
            %p.message__post-info--post-user.message-me__post-info--post-user
              user-me
            %p.message__post-info--post-date.message-me__post-info--post-date
              2019/03/24(Sun) 11:11:11
          %p.message__post-message.message-me__post-message
            I'm so so :)
    .main-form
      .form-body
        .new-message
          .new-message__input-box
            %input{ type: "text", class: "new-message__input-box--text", placeholder: 'type a message'}
            .new-message__input-box__image-box
              %label.image
                = fa_icon 'fa-image', class: 'fa fa-image new-message__input-box__image-box--image'
                %input{type:"file" ,class: 'new-message__input-box__image-box--filesend'}
          .new-message__input-box--send
            = submit_tag 'Send'