@mixin text-set(){
  & input[type="text"]{
    padding: 0;
    padding-left: 16px;
    border: none;
    border-radius: 16px;
    outline: none;
    background: $color_main-body;
  }
  & input[type="text"]::placeholder{
    color: $color_main-user-text;
    font-size: 16px;
    font-weight: lighter;
  }
}
